<app-top-bar [pageTitle]="pageTitle"></app-top-bar>

<ion-content class="ion-padding">
  <ion-card>
    <ion-img src="assets/img/ionic5-feature.png" class="animated fadeIn fast"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Test App</ion-card-subtitle>
      <ion-card-title>Creado con Ionic 5</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget sem blandit, faucibus nisi sed, efficitur neque. Mauris laoreet rhoncus aliquam. Aliquam varius neque sit amet leo euismod pharetra. Suspendisse luctus nisi ac vestibulum tincidunt.</ion-label>
      <ion-label>In vitae risus vel ligula pretium iaculis. Maecenas et est sed dui imperdiet dapibus hendrerit ac ante. Proin eget odio ante. Aliquam non dolor congue, mollis erat blandit, blandit lectus. Phasellus mauris nunc, facilisis porttitor orci eget, sollicitudin consequat tortor. Integer purus felis, pretium ut vulputate quis, cursus molestie tortor. Etiam vel justo placerat, malesuada est ornare, aliquam diam. In aliquet vehicula dui, eget tristique arcu tempor at.</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>